.health-bar {
    
}

.boss-bar .unity-progress-bar__container {
    height: 30px;
}

.unity-progress-bar__container {
    min-height: 18px;
    height: 18px;
}

.unity-progress-bar__background {
    border-width: 0;
    border-radius: 2px;
    background-color: #000000;
}

.unity-progress-bar__progress {
    margin: 0;
    padding: 0;
    border-radius: 2px;
    background-color: #ffffff;
}
